
    <main>
    <div class = "signup-page">
    <h2>Signup Form</h2>
    <form action="/signup" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="fullname">Full Name:</label><br>
        <input type="text" id="fullname" name="fullname" required><br>

        <label for="major">Major:</label><br>
        <input type="text" id="major" name="major" required><br>

        <label for="languages">Languages:</label><br>
        <input type="text" id="languages" name="languages" required><br>

        <label for="coursesEnrolled">Courses Enrolled:</label><br>
        <input type="text" id="coursesEnrolled" name="coursesEnrolled" required><br>

        <label for="reviews">Reviews:</label><br>
        <input type="text" id="reviews" name="reviews"><br>

        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio" rows="4" cols="50"></textarea><br>

        <label for="gradyear">Graduation Year:</label><br>
        <input type="text" id="gradyear" name="gradyear" required><br>

        <button type="submit">Sign Up</button>
    </form>
    </div>
</main>
