    <main>
        <h2>Welcome, {{username}}!</h2>
        <section>
            <h3>Actions</h3>
            <ul>
                <li><a href="/posts/new">Create New Post</a></li>
                <li><a href="/posts">View All Posts</a></li>
                <li><a href="/sessions/new">Create Study Session</a></li>
            </ul>
        </section>
        <section>
            <h3>My Posts</h3>
            <a href="/posts/index"></a>
        </section>
    </main>