<main>
    <h2>Welcome, {{username}}!</h2>
    <section>
        <h3>Actions</h3>
        <ul>
           <li>
            <form action="/users/edit" method="get" id="editprofile">
            <h3 class="create"><button type="submit">Edit Profile</button></h3>
             </form>
             </li>
            <li>
           <form action="/users/delete" method="post" id="deleteprofile">
            <h3 class="create"><button type="submit">Delete Profile</button></h3>
             </form>
             </li>
        </ul>
    </section>
    <form action="/posts" method="get" id="goback">
    <h3 class="goback"><button type="submit">Go to Home</button></h3>
        </form>
    <section>
    </section>
</main>